html {
    height: 100%;
  }
  
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(login.jpg);
  }
  
  #main-holder{
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(134, 132, 250);
  }
  
  #login-error-msg-holder {
    width: 30%;
    height: 30%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 43%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #ef0a0a;
    border: 1px solid #ef0a0a;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #4e7fb7;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1b46a9;
    cursor: pointer;
    outline: none;
  }